html {
    min-height: 100%;
}

#topLogo{
  
    margin-left: 5%;
    margin-top: 4%;
}


#aboutCar {
    height: 150px;
    width: 150px;
}

#needed{
    margin-top: 30%;
}
.item {
    /*height: 200px;*/
    /*width: 200px;*/
    display: inline-block;
    margin: 2%;
}

.serviceImage {
    height: 250px;
    width: 250px;
    /*display: inline-block;*/
    /*margin: 2%;*/
}



.serviceImage1 {
    height: 250px;
    width: 350px;
    /*display: inline-block;*/
    /*margin: 2%;*/
}

#bottomAbout{
    margin-top: 3%;
    padding-top:-25%;
}
#teamImage{
    margin-left: 10%;
    height: 500px;
    width: 300px;
}

#shopPhoto{
    height: 150px;
    width: 220px;
   margin-left: 20%;
   /*margin-right: 5%;*/
   margin-top: 20%;
   /*float: right;*/
}

#topLogo {
    margin-top: 1%;
}

#cardArea {
    margin-right: 3%;
}

#scrollHere {
    /*margin-top: 2%;*/
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    /*border-radius: 5px;*/
    /*opacity: .9;*/

}


.card-content {
    padding: 1%;
    /*margin-left: -20%;*/
}

#tabs{
    border-radius: 60px;
    opacity: .9;

}


.imageBox {

    margin-left: 20px;
}

#body3 {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}


.carousel {
    /*margin-top: 2%;*/
    margin-left: -50%;
    height: 400px;
    width: 900px;
    padding: 5%;
}



body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    /*background-image: url(http://clipart-library.com/images/6Ty5GE6ac.jpg);*/
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    /*background: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.1)), url(http://clipart-library.com/images/6Ty5GE6ac.jpg);*/
}

main {
    min-height: 100%;
    flex: 1 0 auto;
}

#searchCard {
    padding-top: 1%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    opacity: .9;
    /*margin-left: 5%;*/


}



#logoTop {
    font-style: italic;
}

#topStuff {
    margin-left: 10%;
    font-family: Bungee-inline;
    margin-bottom: -50%;
}

.active {
    color: white!important;
}

.activeNav {
    color: red!important;
}


footer {
    bottom: 0;
    width: 100%;
    opacity: .9;
    margin-top: 5%;
}

.footerLink {
    color: black;
}





#body3 {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 6px 6px 6px 6px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}







@media screen and (max-width: 750px) and (min-width: 200px) {

    #scrollHere {
        /*margin-top: 2%;*/
        margin-left: 7%;
        margin-right: 0;


    }

    #menuButton {
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 5%;
        color: white;
    }
    footer {
        bottom: 3;
        width: 100%;
        opacity: .9;
        margin-top: 5%;
    }

    #topStuff {
        margin-left: 0;
        font-family: Bungee-inline;
    }


    #searchCard {
        margin-left: 0%;
        /*margin-right: 10%;*/
        width: 200px;
        height: 0px;
    }


#cardArea{
    width: 200px;
    margin-top:0;
    margin-left: 0px;
    /*margin-left: -5%;*/
}

    .carousel {
        margin-left: 0%;
        width: 360px;
        height: 300px;
        padding: 1%;
        margin-bottom: -30%;
    }
    
    .item {
        margin-left: 15%;
    }
    
    .tabImg {
        height: 250px;
        width: 250px;
    }
    
#logoTop {
   
    font-style: italic;
    margin-left: 5%;
    text-align: center;
}

#topLogo{
  
    margin-left: 10%;
}


}
